aiofiles==23.1.0
anyio==3.6.2
astor==0.8.1
bce-python-sdk==0.8.79
cssselect==1.2.0
cssutils==2.6.0
fastapi==0.95.0
ffmpy==0.3.0
flask-babel==3.0.1
future==0.18.3
gevent==22.10.2
geventhttpclient==2.0.2
gradio==3.23.0
greenlet==2.0.2
grpcio==1.51.3
h11==0.14.0
httpcore==0.16.3
httpx==0.23.3
huggingface-hub==0.13.3
imagecodecs==2020.12.24
